.header img{
    height: 30%;
    width: 30%;
}
.header2{
    position: absolute;
    font-family: "Segoe Script";
    padding-left: 35%;
    
}
.header3 img{
    height: 30%;
    width: 30%;

}
.header4{
    position: absolute;
    font-family: "Segoe Script";
}
.header5 img{
    height: 30%;
    width: 30%;

}